AppleTV_Lighting
[{"id":"8619522b9ceb9862","type":"tab","label":"Apple TV Flows","disabled":false,"info":"","env":[]},{"id":"7893ebb564baa428","type":"server-state-changed","z":"8619522b9ceb9862","name":"Apple TV","server":"df04f5e9.a55d98","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.apple_tv_2","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":80,"y":120,"wires":[["78ae9045cce14eae"]]},{"id":"78ae9045cce14eae","type":"function","z":"8619522b9ceb9862","name":"","func":"if ( msg.payload == \"playing\" ) {\n    msg.payload = \n    {\n        \"media_title\": msg.data.new_state.attributes.media_title,\n        \"app_name\" : msg.data.new_state.attributes.app_name,\n        \"media_artist\" : msg.data.new_state.attributes.media_artist,\n    };\n\n}\nelse {\n    msg.payload = \n    {\n        \"media_title\": \"\",\n        \"app_name\" : \"\",\n        \"media_artist\" : \"\",\n    };\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":120,"wires":[["0cb2a5dc51911553"]]},{"id":"0cb2a5dc51911553","type":"split","z":"8619522b9ceb9862","name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":350,"y":120,"wires":[["625b9892399dbc63"]]},{"id":"625b9892399dbc63","type":"switch","z":"8619522b9ceb9862","name":"","property":"parts.key","propertyType":"msg","rules":[{"t":"eq","v":"media_title","vt":"str"},{"t":"eq","v":"app_name","vt":"str"},{"t":"eq","v":"media_artist","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":470,"y":120,"wires":[["2591939e0a7d9c89"],["cf2a13d5a4d3a0a7"],["b5f21cd9c9944e8f"]]},{"id":"2591939e0a7d9c89","type":"mqtt out","z":"8619522b9ceb9862","name":"Apple TV Media Room Media Title","topic":"homeassistant/appletv_theater/media_title","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4238db6e.227ed4","x":700,"y":60,"wires":[]},{"id":"cf2a13d5a4d3a0a7","type":"mqtt out","z":"8619522b9ceb9862","name":"Apple TV Media Room Application","topic":"homeassistant/appletv_theater/application","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4238db6e.227ed4","x":700,"y":120,"wires":[]},{"id":"b5f21cd9c9944e8f","type":"mqtt out","z":"8619522b9ceb9862","name":"Apple TV Media Room Artist","topic":"homeassistant/appletv_theater/media_artist","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4238db6e.227ed4","x":680,"y":180,"wires":[]},{"id":"f3f924bc93307255","type":"mqtt in","z":"8619522b9ceb9862","name":"","topic":"homeassistant/appletv_theater/application","qos":"0","datatype":"auto-detect","broker":"4238db6e.227ed4","nl":false,"rap":true,"rh":0,"inputs":0,"x":180,"y":280,"wires":[["8a4491649dec4a74"]]},{"id":"8a4491649dec4a74","type":"switch","z":"8619522b9ceb9862","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"","vt":"str"},{"t":"cont","v":"Disney+","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":280,"wires":[["d78fdfc2be89a7b1"],["851971e8ae0e1c4f"]]},{"id":"9aacd142ca1bc0e7","type":"api-call-service","z":"8619522b9ceb9862","name":"","server":"df04f5e9.a55d98","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.in_wall_dimmer_switch_3","light.ge_enbrighten_z_wave_plus_smart_dimmer"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":870,"y":320,"wires":[[]]},{"id":"851971e8ae0e1c4f","type":"api-call-service","z":"8619522b9ceb9862","name":"","server":"df04f5e9.a55d98","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.in_wall_dimmer_switch_3","light.ge_enbrighten_z_wave_plus_smart_dimmer"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":590,"y":320,"wires":[[]]},{"id":"d78fdfc2be89a7b1","type":"delay","z":"8619522b9ceb9862","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":600,"y":260,"wires":[["3f29c677ae527ede"]]},{"id":"3f29c677ae527ede","type":"api-current-state","z":"8619522b9ceb9862","name":"","server":"df04f5e9.a55d98","version":3,"outputs":2,"halt_if":"idle","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.apple_tv_2","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":840,"y":260,"wires":[["9aacd142ca1bc0e7"],[]]},{"id":"df04f5e9.a55d98","type":"server","name":"Home Assistant","version":4,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m"},{"id":"4238db6e.227ed4","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1883","clientid":"homeassistant","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]
